---
---
<!DOCTYPE html>
<html class="no-js">
  <head>
   
    <!-- Boostrap 4 check also js -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% include header.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/form.css" />
    <link rel="stylesheet" href="{{site.baseurl }}/assets/css/contact.css" />
  </head>

  <body>
    
    {% include page_top.html %}

      <section class="main-content">

        <div>
         {{ content }}
        </div>

        {% include footer.html %}
      </section>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Boostrap 4 check also css -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- contact form -->
    <script src="{{ site.baseurl }}/assets/js/contact_form.js"></script>
  </body>
</html>